.container {
border: 3px solid black;
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;

}

h1, h3 {
    display: flex;
    justify-content: center;
    color: #0E5E6F;
}

body {
    background-color: #FFEFD6;
}

.deteleAllbtn {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    border: none;
    padding: 14px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-bottom: 10px;
}

.btn2 {
    background-color: #0E5E6F;
}